@model File64.Models.UploadFileViewModel

@{
    ViewBag.Title = "View";
}

<h2>上傳檔案</h2>


@using (Html.BeginForm("GetBase64",
                            "UploadFile", FormMethod.Post,
                            new { enctype = "multipart/form-data", id = "dataForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.uploadFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file"id="uploadFile" name="uploadFile" />
                @Html.ValidationMessageFor(model => model.uploadFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
          @*  <div class="col-md-offset-2 col-md-10">*@
                <input type="submit" value="ToBase64(submitForm)" class="btn btn-default" />
                <input type="button" id="btnToBase64" value="ToBase64(ajax)" class="btn btn-default" />
                <input type="button" id="btnReset" value="Reset" class="btn btn-default" />
            @*</div>*@
        </div>
    </div>
}
<div id="divResult">
    <hr />
    <span>轉換結果</span>
    <textarea style="width:1200px;height:200px;max-width:1200px;" id="textAreaResult"></textarea>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            //alert("jquery");
            $("#divResult").hide();
            $("#btnToBase64").on("click", clickBtnToBase64);
            $("#btnReset").on("click", clickBtnReset);
        });
        function clickBtnToBase64() {
           
            //var formObj = $("#dataForm");
            @*$("#dataForm").attr("action", '@Url.Content("~/UploadFile/GetBase64")');
            $("#dataForm").submit();*@
            //alert("click clickBtnToBase64");
            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
           
            $.ajax({
                type: "POST",
                url: '/UploadFile/GetBase64Ajax',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#divResult").show();
                    //alert('succes!!' + response.base64Code);
                    $("#textAreaResult").text(response.base64Code);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert("errror:" + textStatus);
                    alert("errror:" + jqXHR.responseText+";"+textStatus+";"+errorThrown);
                    jqXHR.responseText
                }
            });


        }

        function clickBtnReset() {
            $("#dataForm")[0].reset();
            //$("#textAreaResult").text("");
            $("#divResult").hide();
        }
    </script>
}
